@model IEnumerable<OdeToVeggie.Models.Restaurant>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Hello and Welcome</h1>
    <h3>Here are the restaurants:</h3>
    <table>
        @foreach (var restaurant in Model)
        {
        <tr>
            <td>@restaurant.Id</td>
            <td>@restaurant.Name</td>
        </tr>
        }
    </table>
</body>
</html>